
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.container-lights{
    background-color: black;
    width: 15vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}
.light {
    width: 10vw;
    height: 21vh;
    border-radius: 80%;
}
.red {
    background-color: red;
    margin-top: 10px;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
    margin-bottom: 10px;
}
.purple {
    background-color: purple;
}
.blue {
    background-color: blue;
}
.pink {
    background-color: pink;
}
.orange {
    background-color: orange;
}
.aqua {
    background-color: aqua;
}
.brown {
    background-color: brown;
}
.sujecion {
    width: 2vw;
    height: 10vh;
    background-color: black;
}
.selected {
    box-shadow: 10px 15px 80px;
    color: yellow;
}
.btn-container {
    position: absolute;
    transform: translateX(150%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
}
